*{
    color: white;
}
body{
    background-color: antiquewhite;
}
section{
    height: 100vh;
}
.accordcont{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.accordcont button{
    color: white;
    background-color: brown;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordcont button:hover{
    color: brown;
    background-color: black;
}
.accordcont button:focus{
    color: white;
    background-color: darkcyan;
}
.accord{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: darkcyan;
    padding: 0.5rem;
    width: 600px;

}
.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 0.4rem;
    align-items: center;
    height: 30px;
}
.title span{
    font-size: 25px;
    font-weight: bolder;
}
.answer{
    padding: 0.3rem;
    font-weight: bold;
}